body {
  display: flex;
  font-family: "Acme", sans-serif;
  font-family: "Roboto Mono", monospace;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#start-screen {
  height: 800px;
  width: 800px;
  border: solid;
  /* display: none; */
  display: flex;
  flex-direction: column;

  justify-content: space-around;
  align-items: center;
  /* row-gap: 100px; */
}

#categories-screen {
  height: 800px;
  width: 800px;
  border: solid;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
