html {
  font-size: 62.5%;
}

body {
  display: flex;
  font-family: "Acme", sans-serif;
  font-family: "Roboto Mono", monospace;
  font-size: 2rem;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#game-screen,
#final-screen,
#start-screen {
  height: 550px;
  width: 550px;
  padding-bottom: 5%;
  background-color: floralwhite;
  border-radius: 25px;
  box-shadow: 8px 8px 8px lightgray;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 20px auto;
}

#status-bar {
  width: 90%;
  font-size: 15px;
  display: flex;
  justify-content: space-around;
}

.buttons {
  border: none;
  border-radius: 5px;
  font-family: "Acme", sans-serif;
  font-family: "Roboto Mono", monospace;
  font-size: 20px;
  background-color: transparent;
}

select,
input {
  font-family: "Acme", sans-serif;
  font-family: "Roboto Mono", monospace;
  font-size: 2rem;
  border: transparent;
  box-shadow: inset 8px 8px 8px lightgray, inset -8px -8px white;
  border-radius: 25px;
  padding: 0 20px;
}

#question-box {
  display: flex;
  height: 40%;
  width: 75%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

ol {
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

#name-enter {
  display: flex;
  width: 60%;
  justify-content: space-around;
}

.answer-buttons {
  font-family: "Acme", sans-serif;
  font-family: "Roboto Mono", monospace;
  font-size: 2rem;
  border: transparent;
  background-color: transparent;
  cursor: pointer;
}
.answer-buttons:hover,
.buttons:hover {
  background-color: palegoldenrod;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  body {
    background-color: palegoldenrod;
  }
}
