html {
  font-size: 62.5%;
}

body {
  display: flex;
  font-family: "Acme", sans-serif;
  font-family: "Roboto Mono", monospace;
  font-size: 2rem;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.light-mode-modal {
  height: 650px;
  width: 650px;
  padding-bottom: 5%;
  background-color: floralwhite;
  border-radius: 25px;
  box-shadow: 8px 8px 8px #cad2c5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 20px auto;
}

.dark-mode-modal {
  background-color: #04151f;
  color: whitesmoke;
}

#status-bar {
  width: 95%;
  font-size: 1.6rem;
  display: flex;
  justify-content: space-between;
}

.buttons {
  border: none;
  border-radius: 5px;
  font-family: "Acme", sans-serif;
  font-family: "Roboto Mono", monospace;
  font-size: 20px;
  background-color: transparent;
}

select,
input {
  font-family: "Acme", sans-serif;
  font-family: "Roboto Mono", monospace;
  font-size: 2rem;
  border: transparent;
  box-shadow: inset 8px 8px 8px lightgray, inset -8px -8px white;
  border-radius: 25px;
  padding: 0 20px;
}

.dark-mode-input {
  background-color: #2f3e46;
  color: whitesmoke;
  box-shadow: none;
  font-weight: bold;
}

#question-box {
  display: flex;
  height: 40%;
  width: 75%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

ol {
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

#name-enter {
  display: flex;
  width: 60%;
  justify-content: space-around;
}

.answer-buttons {
  font-family: "Acme", sans-serif;
  font-family: "Roboto Mono", monospace;
  font-size: 2rem;
  border: transparent;
  background-color: transparent;
  cursor: pointer;
}
.answer-buttons:hover,
.buttons:hover {
  border-radius: 5px;
  background-color: palegoldenrod;
}

/* media queries */
@media screen and (max-width: 650px) {
  .answer-buttons,
  #status-bar,
  .buttons,
  #game-screen,
  #final-screen,
  #start-screen,
  #question {
    font-size: 4.5vw;
  }

  #question-box,
  #status-bar {
    width: 100%;
  }

  #game-screen,
  #final-screen,
  #start-screen {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    box-shadow: none;
  }
}

/* dark mode */
.dark-mode-buttons {
  background-color: #004445;
  color: whitesmoke;
}

.dark-mode-buttons:hover {
  background-color: #04151f;
  color: whitesmoke;
}

.dark-mode-answers {
  font-family: "Acme", sans-serif;
  font-family: "Roboto Mono", monospace;
  font-size: 2rem;
  border: transparent;
  background-color: transparent;
  cursor: pointer;
  background-color: transparent;
  color: whitesmoke;
}

.dark-mode-answers:hover {
  background-color: whitesmoke;
  color: #04151f;
  border-radius: 5px;
}

.dark-mode-body {
  background-color: black;
}
